<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home | ITC230: Advanced JavaScript</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex,nofollow" />
    <link rel="stylesheet" type="text/css" href="" />
</head>
<body>
    <a href="/">Back to HOME</a>
    
    {{#if playerDeleted}}
    <h1>Deleted: {{playerDeleted.name}}</h1>
    <p>Remaining total players: {{totalPlayers}}</p>
    
    {{else}}
    <h1>Oops. Player with jersey number {{numberToDelete}} not found!</h1>
    <p>No player deleted.</p>
    {{/if}}
    
</body>
</html>