<!DOCTYPE html>
<html lang="en">
<head>
    <title>Advanced JavaScript: Sounders Players</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex,nofollow" />
    
    <link rel="stylesheet" type="text/css" href="spastyles.css" />
    
    <!-- load react and babel libraries from cloudflare content delivery network -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.0/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.25.0/babel.min.js"></script>
</head>

<body>
    <div id="root"></div> <!-- React will place all rendered items inside this div -->
    
    <script type="text/babel"> //script type of babel for JSX support
    
    // define app container Component
    class PlayerApp extends React.Component {
        constructor(props) {
            // Pass props to parent class
            super(props);
            
            // Set initial state w/ hard-coded data
            this.state = {
                items: {{{allPlayers}}},
                filter: "", // search term 
                currentItem: {} // current selected item 
            };
            
            
            // bind App context to functions for reference in sub components
            this.onSearchChange = this.onSearchChange.bind(this);
            this.onChange = this.onChange.bind(this);
            this.onSave = this.onSave.bind(this);
            this.onDelete = this.onDelete.bind(this);
            this.onClear = this.onClear.bind(this);
        }
        
        // handle changes to search form
        onSearchChange(event) {
            // set search term. react will handle component updates 
            this.setState({filter: event.target.value.toLowerCase() });
        }
        
        // show item details
        showDetails(event) {
            //console.log(event.target); // event.target is list item clicked
            let editItem = this.state.items.find((item) => {
                return item._id == event.target.id;
            });
            this.setState({currentItem: editItem});
        }
        
        // handle detail changes
        onChange(event) {
            var newItem = this.state.currentItem;
            newItem[event.target.name] = event.target.value
            this.setState({currentItem: newItem});
        }
        
        // handle item save
        onSave() {
            let newItem = this.state.currentItem;
            if (!newItem.name) {
                return;
            }
        
            fetch("/api/add", {
                method: "POST",
        	    headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(newItem)
            }).then(res => res.json())
        	    .then((json) => {
            let newData;
            if (!newItem._id) { // add new item to array
                newData = this.state.items;
                newItem._id = json._id;
                newData.push(newItem);
            } else { // update existing item 
                newData = this.state.items.map((item) => {
                    if (item._id === newItem._id) {
                        item = newItem; 
                    }
                return item;
                });          
            }
  
            // Update state with new array
            this.setState({data: newItem});
            });
        }
        
        // clear details form
        onClear() {
            this.setState({currentItem: {}});
        }
        
        // handle item delete
        onDelete() {
            let id = this.state.currentItem._id;
        
            fetch("/api/delete/" + id).then((response) => {
            return response.json();
            }).then((results) => {
                // Filter all items except the one to be removed
                const remainder = this.state.items.filter((item) => {
                return item._id !== id;
                });
                // Update state with new array
                this.setState({items: remainder, currentItem: {}});
            });
        }
        
        // render app elements
        render() {
            return (
                <div>
                    <Title title="Sounders Players" />
                    <SearchForm filter={this.state.filter} change={this.onSearchChange} />
                    
                        <ItemDetails item={this.state.currentItem} change={this.onChange} save={this.onSave} reset={this.onClear} delete={this.onDelete} />
                    
                        <ItemList
                            items={this.state.items}
                            filter={this.state.filter}
                            show={this.showDetails.bind(this)}
                        />
                        
                </div>
            );
        }
        
    }
    
    //UI Elements
    const Title = ({title}) => {
        return (
            <header>
                <h1>{title}</h1>
                <p>Craig Peterson</p>
                <p>ITC230: Advanced JavaScript</p>
                <p>React Single-Page App</p>
            </header>
        );
    }
    
    const SearchForm = (props) => {
        return (
            <div id="searchform">
                Search: <input
                    type="text" placeholder="search players by name"
                    value={props.filter}
                    onChange={props.change}
                />
            </div>
        );
    }
        
    const ItemList = ({items, filter, show}) => {
        // return items that match search entry field, or all items if no entry
        const itemNodes = items.map((item) => {
            if (!filter || item.name.toLowerCase().includes(filter)) { 
                let imgsrc = "images/defaultheadshot.jpg";
                if (item.userAdded === false) {imgsrc = 'images/' + item.number + '.jpg';}
                return (
                    <div key={item._id} className="playercard">
                        <img src={imgsrc} id={item._id} onClick={show} />
                        <p>{item.name}</p>
                    </div>
                );
            }
        });
        
        //create function to check whether or not the search produced any results
        function checkItemNodes(itemNodes) {
            for (var i = 0; i < itemNodes.length; i++) {
                if (itemNodes[i] !== undefined) {
                    return true;
                }
            }
            return false;
        }
        
        let searchResults = checkItemNodes(itemNodes); //are there search results?
        
        if (searchResults === false) {
            return <p className="noresults">No results. Please try another search.</p>
        } else {
            return <div id="item-list">{itemNodes}</div>;
        }
    }
    
    const ItemDetails = (props) => {
        return (
            <div id="item-details">
                <h3>Details:</h3>
                <p>Click a headshot to view or edit full player details!</p>
                <div className="headshotframe">
                    <img className="headshot" src={props.item.imgsrc || "images/defaultheadshot.jpg"} />
                </div>
                <form onChange={props.change}>
                    <label>Name:<br />
                        <input type="text" name="name" placeholder="name" value={props.item.name || ""} /><br />
                    </label>
                    <label>Jersey Number:<br />
                        <input type="text" name="number" placeholder="jersey number" value={props.item.number || ""} /><br />
                    </label>
                    <label>Position:<br />
                        <input type="text" name="position" placeholder="position" value={props.item.position || ""} /><br />
                    </label>
                    <label>Goals:<br />
                        <input type="text" name="goals" placeholder="goals" value={props.item.goals || ""} /><br />
                    </label>
                    <label>Hometown:<br />
                        <input type="text" name="hometown" placeholder="hometown" value={props.item.hometown || ""} /><br />
                    </label>
                </form>
                <div>
                    <button onClick={props.save}>Save</button>
                    <button onClick={props.reset}>Clear</button>
                    <button onClick={props.delete}>Delete</button>
                </div>
            </div>
        );
    }
    
    ReactDOM.render(<PlayerApp />, document.getElementById('root'));
    
    </script>
</body>
</html>