body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #5d9741;
    color: #142530;
    padding: 1rem;
}

h1 {
    margin:0;
}

header p {
    margin:0;
}

#searchform {
    padding: 1rem 1rem 1rem 1rem;
    background-color: #005595;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}

#searchform input {
    font-size: 1rem;
    padding: .5rem;
    border-radius: 6px;
    border: 0;
}

#item-list {
    overflow: hidden;
    max-width: 1060px;
}

#item-list .playercard {
    float: left;
    margin: .5rem;
    padding: .5rem .5rem 0rem .5rem;
    text-align: center;
    border: 2px solid #142530;
    border-radius: 6px;
    background-color: #5d9741;
}

.playercard p {
    margin: .5rem 0 .5rem 0;
}

#item-details {
    padding: 1rem;
    float: left;
    background-color: #ccc;
    color: #142530;
    max-width: 205px;
}

#item-details h3 {
    margin: 0;
}

#item-details p {
    margin-top: 0;
    font-size: 1rem;
    font-style: italic;
}

#item-details .headshotframe {
    border: 10px solid #5d9741;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    width: 125px;
    margin-bottom: 1rem;
}

#item-details .headshot {
    display: block;
    width: 125px;
}

#item-details input {
    margin-bottom: 1em;
    padding: .3em;
    /* width: 90%; */
    font-size: 1rem;
    border: 0;
    border-radius: 6px;
}

#item-details button {
    margin-right: 1em;
    font-size: 1rem;
    border-radius: 6px;
    border: 0;
    background-color: #5d9741;
    padding: .5rem;
    color: #142530;
}

#item-details button:nth-of-type(3) {
    margin-right: 0;
}

.noresults {
    padding: 1rem 1rem 0 1rem;
    margin: 0;
    color: #d60000;
    font-weight: bold;
    overflow: hidden;
}

@media all and (max-width:470px) {
    #item-details {
        float: none;
        max-width:100%;
    }
    
    #item-list {
        float: left;
    }
    
    #item-details .headshotframe {
        margin-left: 0;
        margin-right: 0;
    }
}